///////// device overview ////////
.device_child {
  .overview_deviceDetail_card {
    background-color: #f7f8f9 !important;
    border-radius: 8px !important;
  }
}

////// styleSheet for fonts and color's //////
.font16 {
  font-size: 18px !important;
}
.font20 {
  font-size: 22px !important;
}
.fweight400 {
  font-weight: 400 !important;
}
.fweight700 {
  font-weight: 700 !important;
}
.fcolorBlack {
  color: #111111 !important;
}
.fcolorRed {
  color: #ff0000 !important;
}
.fcolorGreen {
  color: #28844b !important ;
}
